.buttonsMeniu{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.meniu{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}
.logo{
    font-size: 25px;
    font-weight: 700; 
    text-align: center;
    color: red;
    padding: 30px;
}
.btnNav {
    border: none;
    border-radius: 4px;
    background-color: black;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 700; 
    margin: 0;
    text-align: center;
    padding: 30px;
}

.btnNav.active {
    text-decoration: underline;
}
